{% extends 'layout.html' %}

{% block content %}

{% load static %}

<!-- Hero Section -->

<script src="https://kit.fontawesome.com/cf5429fea4.js" crossorigin="anonymous"></script>

    <a href="https://github.com/H4ckerman666" class=" fab fa-github fa-5x btn btn-light rounded btn-sm"></a>
    <a href="https://github.com/H4ckerman666" class=" fab fa-linkedin fa-5x btn btn-light rounded btn-sm"></a>
    <a href="https://github.com/H4ckerman666" class=" fas fa-phone fa-5x btn btn-light rounded btn-sm"></a>
    <a href="https://github.com/H4ckerman666" class=" fas fa-envelope-square fa-5x btn btn-light rounded btn-sm"></a>

{% endblock %}