{% extends 'layout.html' %}

{% block content %}

{% load static %}

<!-- Hero Section -->

<script src="https://kit.fontawesome.com/cf5429fea4.js" crossorigin="anonymous"></script>
    <ul style="list-style-type: none;">
        <li class="nav-item"><a href="https://github.com/H4ckerman666" class=" fab fa-github fa-5x btn btn-dark rounded btn-sm"></a>H4ckerman666</li>
        <li class="nav-item"><a href="https://www.linkedin.com/in/jesus-roblesd/" class=" fab fa-linkedin fa-5x btn btn-dark rounded btn-sm"></a>jesus-roblesd</li>
        <li class="nav-item"><a href="" class=" fas fa-phone fa-5x btn btn-dark rounded btn-sm"></a>5567456977</li>
        <li class="nav-item"><a href="" class=" fas fa-envelope-square fa-5x btn btn-dark rounded btn-sm">jesusroblesduanagmail.com</a></li>
    </ul>

{% endblock %}