{% extends 'layout.html' %} {% block content %} {% load static %}

<!-- Hero Section -->

<script
  src="https://kit.fontawesome.com/cf5429fea4.js"
  crossorigin="anonymous"
></script>

<div class="m-0 vh-100 bg-dark  justify-content-center align-items-center  text-center">
<ul  style="list-style-type: none; text-align: left;
display:inline-block;">
  <li class="nav-item">
    <a
      href="https://github.com/H4ckerman666"
      class="fab fa-github fa-2x btn btn-dark rounded btn-sm"
    ></a>
    <span>H4ckerman666</h4>
  </li>
  <li class="nav-item">
    <a
      href="https://www.linkedin.com/in/jesus-roblesd/"
      class="fab fa-linkedin fa-2x btn btn-dark rounded btn-sm"
    ></a>
    <span>jesus-roblesd</span>
  </li>
  <li class="nav-item">
    <a href="" class="fas fa-phone fa-2x btn btn-dark rounded btn-sm"></a>
    <span>5567456977</span>
  </li>
  <li class="nav-item">
    <a
      href=""
      class="fas fa-envelope-square fa-2x btn btn-dark rounded btn-sm"
    ></a>
    <span>jesusroblesduana@gmail.com</span>
  </li>
</ul>
</div>

{% endblock %}
